  
/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/* #0000 = UNKNOWN DISCRIMINATOR */

/*Pwned Syn#0001*/

[user_by_bdfdb="785035260852830219"],
[data-user-id="785035260852830219"] {
    --user-background: url('https://i.imgur.com/GeTZcN1.gif');
}
