/**
 * @name MindSpace Dev
 * @author Pwned Syn & mpikoul
 * @version 0.1.0
 * @description Dev Version Of MindSpace
 * @source https://github.com/Unkwn-Syn/MindSpace
*/

/* Imports */


:root {
 --bd-blue: #ce6837;
 --bd-blue-hover: #fe8a52;
 --bd-blue-active: #e37a22; 
 --version: "0.1.0";
 --channels-default: var(--text-normal);
 --font: 'Source Sans';
   }
   
   .theme-dark {
 --background-light: #22262e;
 --background-light-alt: #1f2329;
 --background: #171a1f;
 --background-alt: #1b1f25;
 --background-dark: #131519;
 --text-normal: #d1d1d2;
 --text-muted: #686a6d;
 --text-focus: #fff;
 --font-weight-light: 300;
 --font-weight-normal: 400;
 --font-weight-semibold: 500;
 --font-weight-bold: 700;
 --box-shadow: 0 4px 9px rgba(0 0 0 / 0.4);
 --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.3);
 --scrollbar-colour: var(--background-light);
 --edit-message-box: var(--background-light);
 --message-background: var(--background-alt);
  }
   
  .theme-light {
 --background-light: #fff;
 --background-light-alt: #fff;
 --background: #edf2f7;
 --background-alt: #f7fafc;
 --background-dark: #e2e8f0;
 --text-normal: #2d3748;
 --text-muted: #718096;
 --text-focus: #1a202c;
 --font-weight-light: 400;
 --font-weight-normal: 500;
 --font-weight-semibold: 700;
 --font-weight-bold: 700;
 --box-shadow: 0 4px 9px rgba(0 0 0 / 0.2);
 --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.1);
 --scrollbar-colour: rgba(0 0 0 / 0.2);
 --edit-message-box: var(--background-light);
 --message-background: var(--background-light);
  }
   
/* Wordmark Logo */

.wordmark-2iDDfm > svg {
display: none
}

.wordmark-2iDDfm {
	width: 21px;
	height: 21px;
	transform: translate(5px, 1px);
	padding: 0 0 0 0;
	content: url("https://i.imgur.com/pb6kYtd.png");
	background-color: var(--background-primary);
	border-radius: 50%;
}

/* Settings Wide Mode */

.contentRegion-3nDuYy { 
    flex: 1 1 100%; 
}

.contentColumn-2hrIYH, .customColumn-Rb6toI, .sidebarScrollable-1qPI87 + .content-1rPSz4, .customScroller-26gWhv>div { 
    max-width: 95%;
}

.sidebar-CFHs9e { 
    padding: 60px 0 35px 50px; width: 260px;
}

.sidebar-CFHs9e > div > .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item {
    padding: 8px 0 8px 10px; margin-bottom: 0; border-radius: 5px 0 0 5px;
}


/* Main */

.scroller-2TZvBN {
 background: #252525;
}

.bg-h5JY_x {
 background: var(--background-dark);
  }

  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track {
 display: none !important;
}

.scroller-1JbKMe,
.scroller-305q3I {
  background: transparent;
}

.guilds-1SWlCJ .scroller-2TZvBN::-webkit-scrollbar {
 display: none;
}

.content-1x5b-n {
 margin-left: 0;
 border-radius: 0 var(--border-radius) var(--border-radius) 0;
 padding-left: 16px;
}

.message-2qnXI6 .scrollableContainer-2NUZem {
 background: var(--edit-message-box);
 box-shadow: none;
}


/* Status */

.activity-1ythUs .activityHeader-1PExlk {font-size:0}
.activity-1ythUs .activityHeader-1PExlk:before {font-size:12px; content:"Status"}

/* BDFDB Badges Snippet*/
    .headerText-3Uvj1Y > span:first-child::after,
    .usernameFont-23TX-h::after,
    .name-uJV0GL > .overflow-WK9Ogt::after {
    padding: 0 10px 0 10px;
    margin-left: 2px;
    }

    /* user here */
    [src*="insertID"] + .header-23xsNx > .headerText-3Uvj1Y > span:first-child::after,
    .avatar-3EQepX[data-user-id="insertID"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
    [style*="insertID"] + .usernameFont-23TX-h::after {
    content:  "";
    border-radius: var(--border-radius-main);
    position: relative;
    left: 2px;
    background: url(badge image url) center/80% no-repeat white;
    }
