/**
 * @name MindSpace Dev
 * @author Pwned Syn & mpikoul
 * @version 0.1.0
 * @description Dev Version Of MindSpace
 * @website https://github.com/Unkwn-Syn/MindSpace
 * @source https://github.com/Unkwn-Syn/MindSpace
 * @updateurl N/A
*/

/* Imports */


:root {
 --bd-blue: #ce6837;
 --bd-blue-hover: #fe8a52;
 --bd-blue-active: #e37a22; 
}

.theme-dark {
  --background-primary: #808080;
  --background-secondary: #595959;
  --background-secondary-alt: #4d4d4d;
  --background-tertiary: #333333;
  --background-accent: #3E82E5;
  --hover-accent: #458fff;
  --background-accent-secondary: #3064b3;
}

.theme-light {
   --background-tertiary: #808080;
   --background-secondary: #595959;
   --background-secondary-alt: #4d4d4d;
   --background-primary: #333333;
}

