/**
 * @name MindSpace Dev
 * @author Pwned Syn & mpikoul
 * @version 0.1.0
 * @description Dev Version Of MindSpace
 * @source https://github.com/Unkwn-Syn/MindSpace
*/

/* Imports */
@import url("https://unkwn-syn.github.io/MindSpace/Core/Modals.css");
@import url("https://unkwn-syn.github.io/MindSpace/Core/Popouts.css");
@import url("https://nyri4.github.io/Discolored/main.css");

:root {
 --bd-blue: #ce6837;
 --bd-blue-hover: #fe8a52;
 --bd-blue-active: #e37a22; 
 --usrbg-modal-x-offset:-180px; /*Distance from the avatar container to the edge of the modal (x)*/
 --usrbg-modal-y-offset:-65px; /*Distance from the avatar container to the edge of the modal (y)*/
 --usrbg-modal-width:700px; /*Maximum width of modal*/
 --usrbg-modal-height:600px; /*Maximum height of modal*/
}

.theme-dark {
  --background-light: #22262e;
  --background-light-alt: #1f2329;
  --background: #171a1f;
  --background-alt: #1b1f25;
  --background-dark: #131519;
  --text-normal: #d1d1d2;
  --text-muted: #686a6d;
  --text-focus: #fff;
  --box-shadow: 0 4px 9px rgba(0 0 0 / 0.4);
  --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.3);
  --scrollbar-colour: var(--background-light);
  --edit-message-box: var(--background-light);
  --message-background: var(--background-alt);
  --background-accent: #3E82E5;
  --hover-accent: #458fff;
  --background-accent-secondary: #3064b3;
  --background-accent: #3E82E5;
  --hover-accent: #458fff;
  --background-accent-secondary: #3064b3;
}

.theme-light {
 --background-light: #fff;
 --background-light-alt: #fff;
 --background: #edf2f7;
 --background-alt: #f7fafc;
 --background-dark: #e2e8f0;
 --text-normal: #2d3748;
 --text-muted: #718096;
 --text-focus: #1a202c;
 --box-shadow: 0 4px 9px rgba(0 0 0 / 0.2);
 --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.1);
 --scrollbar-colour: rgba(0 0 0 / 0.2);
 --edit-message-box: var(--background-light);
 --message-background: var(--background-light);
}
   
/* Wordmark Logo */
.typeWindows-1za-n7 {position:relative}
.wordmark-2iDDfm > svg {
display: none
}

.wordmark-2iDDfm {
	width: 21px;
	height: 21px;
	transform: translate(5px, 1px);
	padding: 0 0 0 0;
	content: url("https://i.imgur.com/pb6kYtd.png");
	background-color: var(--background-tertiary);
	border-radius: 50%;
}

/* Settings Wide Mode */

.contentRegion-3nDuYy { 
    flex: 1 1 100%; 
}

.contentColumn-2hrIYH, .customColumn-Rb6toI, .sidebarScrollable-1qPI87 + .content-1rPSz4, .customScroller-26gWhv>div { 
    max-width: 95%;
}

.sidebar-CFHs9e { 
    padding: 60px 0 35px 50px; width: 260px;
}

.sidebar-CFHs9e > div > .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item {
    padding: 8px 0 8px 10px; margin-bottom: 0; border-radius: 5px 0 0 5px;
}


/* Main */

.scroller-2TZvBN {
 background: #252525;
}

.bg-h5JY_x {
 background: var(--background-dark);
  }

  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track {
 display: none !important;
}

.scroller-1JbKMe,
.scroller-305q3I {
  background: transparent;
}

.guilds-1SWlCJ .scroller-2TZvBN::-webkit-scrollbar {
 display: none;
}

.content-1x5b-n {
 margin-left: 0;
 border-radius: 0 var(--border-radius) var(--border-radius) 0;
 padding-left: 16px;
}

.message-2qnXI6 .scrollableContainer-2NUZem {
 background: var(--edit-message-box);
 box-shadow: none;
}


/* Status */

.activity-1ythUs .activityHeader-1PExlk {font-size:0}
.activity-1ythUs .activityHeader-1PExlk:before {font-size:12px; content:"Status"}

/* BDFDB Badges Snippet*/
    .headerText-3Uvj1Y > span:first-child::after,
    .usernameFont-23TX-h::after,
    .name-uJV0GL > .overflow-WK9Ogt::after {
    padding: 0 10px 0 10px;
    margin-left: 2px;
    }

    /* user here */
    [src*="insertID"] + .header-23xsNx > .headerText-3Uvj1Y > span:first-child::after,
    .avatar-3EQepX[data-user-id="insertID"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
    [style*="insertID"] + .usernameFont-23TX-h::after {
    content:  "";
    border-radius: var(--border-radius-main);
    position: relative;
    left: 2px;
    background: url(badge image url) center/80% no-repeat white;
    }

/* Badge Animations */
@keyframes negative {
  0%
  {filter: invert(100%)}
  50%
  {filter: invert(0%)}
  100%
  {filter: invert(100) ;}
} 

@keyframes rainbow {
    from {filter: hue-rotate(0deg)}
    to {filter: hue-rotate(360deg);}
}

.profileBadge-2niAfJ {
	 animation: negative 5s linear infinite;
}

.ownerIcon-2NH9FM {
    animation: rainbow 5s linear infinite;
}

.profileBadgePremium-1KDZYC {
    animation: rainbow 5s linear infinite;
}

/* Blur */
.backdrop-1wrmKB {
  backdrop-filter: blur(7px);
}

/* User Backgrounds */
.header-QKLPzZ .wrapper-3t9DeA::before {
  content:'';
  position:absolute;
  top:var(--usrbg-modal-x-offset);
  left:var(--usrbg-modal-y-offset);
  width:var(--usrbg-modal-width);
  height: var(--usrbg-modal-height);
  opacity:.5;
  pointer-events:none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}
.headerTop-3C2Zn0 {
  transform: translateZ(0);
}
.header-QKLPzZ {
  transform: translateZ(0);
}
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index:1;
  position:relative;
}

#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"] {
	margin-right: 0 !important
}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"]::after {
    content:'';
    position:absolute;
    top:var(--usrbg-modal-x-offset) !important;
    left:var(--usrbg-modal-y-offset) !important;
    width:var(--usrbg-modal-width);
    height: var(--usrbg-modal-height);
    opacity:.7;
    pointer-events:none;
    background: var(--user-background) center/cover no-repeat;
    -webkit-mask: linear-gradient(#000000, #0000004f);
    mask: linear-gradient(#000, transparent);
}
  
.headerInfo-30uryT, .tabBarItem-1b8RUP, .activity-1ythUs { 
	z-index:1; position:relative;
}

.topSectionNormal-2-vo2m *, .topSectionSpotify-1lI0-P *, .topSectionPlaying-1J5E4n *, .topSectionStreaming-1Tpf5X *, .body-3ND3kc { 
	z-index: 1;
}

/* Channeltabs Support */
.channelTabs-closeTab {
    line-height: 12px !important; font-size: 14px; background: var(--background-accent-secondary); }

    .channelTabs-tab.channelTabs-selected .channelTabs-closeTab { background: var(--background-accent); }

    .channelTabs-tab.channelTabs-selected .channelTabs-closeTab:hover { background: var(--hover-accent); }

    .channelTabs-tabContainer { background: var(--background-tertiary) !important; }
 
    .channelTabs-newTab { background: var(--background-accent-secondary); }

    .channelTabs-newTab:hover { background: var(--hover-accent); }

    .channelTabs-closeTab:hover { background: var(--hover-accent); }
