/**
 * @name MindSpace Dev
 * @author Pwned Syn & mpikoul
 * @version 0.1.0
 * @description Dev Version Of MindSpace
 * @source https://github.com/Unkwn-Syn/MindSpace
*/

/* Imports */
@import url("https://unkwn-syn.github.io/MindSpace/Core/Modals.css");
@import url("https://unkwn-syn.github.io/MindSpace/Core/Popouts.css");
@import url("https://nyri4.github.io/Discolored/main.css");

:root {
 --bd-blue: #ce6837;
 --bd-blue-hover: #fe8a52;
 --bd-blue-active: #e37a22; 
 --usrbg-modal-x-offset:-180px; /*Distance from the avatar container to the edge of the modal (x)*/
 --usrbg-modal-y-offset:-65px; /*Distance from the avatar container to the edge of the modal (y)*/
 --usrbg-modal-width:700px; /*Maximum width of modal*/
 --usrbg-modal-height:600px; /*Maximum height of modal*/
 --border-radius: 5px;
 --background-modifier-selected: var(--background-light);
 --background-modifier-hover: var(--background-alt);
 --background-modifier-active: var(--background-light);
 --channels-default: var(--text-normal);
 --version: "0.1.0"
 --accent: 50, 131, 207;
 --message-padding: 10px; /* Spacing in the messages. MUST END IN px | DEFAULT: 10px */
 --message-spacing: 10px; /* Spacing around the messages. MUST END IN px | DEFAULT: 10px */
}
